<div class="dropdown-menu">
  <!-- <a class="dropdown-item disabled" data-toggle="collapse" href="#product-edit">Edit Product</a> -->
  <a class="dropdown-item" data-toggle="collapse" href="#<%= dom_ref(product, 'item_group-add') %>">Add Product Kind</a>
</div>
