<div class="row align-items-center">
  <div class="col-auto">
    <h5 class="mb-0">
      <%= render "categorizable_types/header/collapse", category: category, categorizable_type: categorizable_type %>
    </h5>
  </div>

  <div class="col">
    <span class="text-capitalize font-weight-bold text-white"><%= categorizable_type.pluralize %></span>
  </div>

  <div>
    <%= render "categorizable_types/header/nav_menu", category: category, categorizable_type: categorizable_type %>
  </div>
</div>
