<div class="dropdown-menu">
  <a class="dropdown-item disabled" data-toggle="collapse" href='#<%= dom_ref(product_part, "edit") %>'>Edit <%= obj_to_cap_hyph_str(product_part) %></a>
  <a class="dropdown-item" data-toggle="collapse" href='#<%= dom_ref(product_part, "#{to_snake(product_part.sti_field_type)}-item_group-add") %>'>Add <%= obj_to_cap_hyph_str(product_part.sti_field_type) %></a>
</div>
