<div class="dropdown-menu">
  <a class="dropdown-item disabled" data-toggle="collapse" href="#<%= dom_ref(element_kind, 'edit') %>">Edit Element Kind</a>
  <!-- <a class="dropdown-item" data-toggle="collapse" href="#<%= dom_ref(element_kind, 'element-new') %>">New Element</a> -->
</div>
