<%= form_with model: item_type, url: [item_type.artist, item_type], id: form_id do |f| %>
  <div class="form">
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "- select category name -"}, {class: "form-control form-control-sm", onchange: 'javascript: $( this ).trigger("submit.rails")'} %>
    <% if item_type.category_id.present? %>
      <%= render "item_types/forms/properties", item_type: item_type, f: f %>
    <% end %>
  </div>
<% end %>
<!-- bg-transparent my-0 py-0 -->
<!-- bg-transparent text-white border-0 -->
