<%= form_with model: item_type, url: [artist, item_type], id: form_id do |f| %>
  <div class="form">
    <%= f.hidden_field :form_id, value: form_id %>
    <%= f.text_field :name, placeholder: "enter item-type", class: "form-control sm" %>
    <button class="btn btn-sm badge badge-primary float-right" type="submit">
      Submit
    </button>
  </div>
<% end %>
