<div class="card card-body p-2 bg-light">
  <div>
    <span class="card-title font-weight-light">New Item-type</span>
    <button type="button" class="close float-right close-form">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="<%= dynamic_id(name: 'form-new-render', klass: 'artist', child_klass: 'item_type') %>">
  </div>
</div>
