<div class="card card-body p-2 bg-light">
  <div>
    <span class="card-title font-weight-light">New Item-type</span>
    <button type="button" class="close float-right close-form pr-3">
      <span aria-hidden="true"><small>&times;</small></span>
    </button>
  </div>
  <div id="item_type-new-tabs-update">
  </div>
</div>
