<div id="accordion-nav-menu-aside">
  <div class="card my-0 mb-3 p-0 border border-dark" id="artist-accordion">
  <%= render "artists/cards/artist_card" %>
  </div>

  <div class="card mb-3 px-4 py-2 bg-light border border-dark" id="item_type-new">
    <%= render "item_types/forms/form", artist: @artist, item_type: ItemType.new, form_id: "item_type-new-form-id" %>
  </div>

  <div class="list-group" id="item_type-tab-index" role="tablist">
    <%#= render "artists/cards/tabs", artist: @artist %>
  </div>
</div>
