<div class="card bg-light mb-3" id="element-new">
  <%#= render "elements/forms/new", element: Product.new, url: Product.new, form_id: "element-new-form" %>
</div>

<div class="card bg-light mb-0 p-2">
  <%= render "elements/form" %>
</div>

<div class="list-group" id="tab-index" role="tablist">
  <%= render "elements/tabs", elements: elements %>
</div>
