<div class="row align-items-center">
  <div class="col mb-0 <%= dyno_id(n1: 'display', k1: field, k2: value) %>">
    <%= render "values/value/display", value: value %>
  </div>
  <div class="col-auto">
    <%= render "values/value/nav_menu", field_group: field_group, field: field, value: value %>
  </div>
</div>
