<%= form_for [supplier, invoice] do |f| %>
  <div class="form">
    <div class="form-row align-items-center">
      <div class="form-group col-auto">
        <%= f.text_field :name, placeholder: "enter invoice name", class: "form-control", id: "inlineFormInput" %>
      </div>
      <div class="form-group col-auto">
        <%= f.number_field :invoice_number, placeholder: "enter invoice #", class: "form-control", id: "inlineFormInput" %>
      </div>
      <button class="btn btn-sm btn_width btn-outline-primary form-group float-right" id="inlineFormInput" type="submit">
        Submit
      </button>
      <% if invoice.id %>
        <%= button_to 'Delete', [supplier, invoice], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn_width btn-outline-danger form-group float-right", id: "inlineFormInput" %>
      <% end %>
    </div>
  </div>
<% end %>
