<%= form_with model: dimension, url: [category, dimension], id: :dimension_form do |f| %>
  <div class="form">
    <%= f.text_field :name, placeholder: "enter dimension name", class: "form-control" %>
    <button class="btn btn-sm badge badge-primary float-right" type="submit">
      Submit
    </button>
  </div>
<% end %>
