<h1>Dimension: <%= @dimension.name %></h1>
<p><%= link_to "Edit: #{@dimension.name}", edit_dimension_path(@dimension) %> | <%= link_to "Return to Dimension List", dimensions_path %></p><br>

<div>
  <%= render 'fields/form', fieldable: @dimension, field: Field.new %>
</div>

  <h4>Add dimension field</h4>
  <div>
    <%#= render 'field_groups/form', fieldable: @dimension %>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <th>Field Name</th>
    </thead>
    <tbody>
      <%#= render 'field_groups/field_group', fieldable: @dimension %>
    </tbody>
  </table>
