<!-- <a class="dropdown-item" id="" href="<%#= artists_path %>" data-remote="true">- select artist -</a> -->
<% Category.all.each do |category| %>
  <a class="dropdown-item" id="" href="<%= category_artist_path(category, artist) %>" data-remote="true"><%= category.name %></a>
<% end %>
