<div id="accordion-nav-menu-body">
  <div class="card mb-2">
    <div class="card-header py-0 px-3">
      <%= render "item_types/header/header", item_type: item_type %>
    </div>

    <div class="collapse" id="item_type-edit-show" data-parent="#accordion-nav-menu-body">
      <div class="card-body bg-light py-0">
        <%= render "item_types/forms/edit", item_type: item_type %>
      </div>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-header py-0">
      <%= render "item_types/category/header", item_type: item_type %>
    </div>

    <div class="collapse show" id="category-fields-add-show">
      <div class="card-body" id="category-fields-add">
        <%= render "item_types/forms/form", artist: item_type.artist, item_type: item_type, form_id: 'category-add-form' %>
      </div>
    </div>
  </div>
</div>
