<a class="list-group-item list-group-item-action py-1" id="item_type-list-item-<%= item_type.id %>" href="<%= artist_item_type_path(artist, item_type) %>" data-remote="true" data-toggle="list">
  <%= item_type.name %>
</a>
