<a class="list-group-item list-group-item-action py-0" id="item_type-list-item-<%= item_type.id %>" href="<%= artist_item_type_path(artist, item_type) %>" data-remote="true">
  <span id="item_type-list-name-<%= item_type.id %>"><%= item_type.name %></span>
</a>
