<%= form_with model: category, url: category, id: form_id do |f| %>
  <div class="form">
    <%= f.text_field :name, placeholder: "enter category name", class: "form-control" %>
    <button class="btn btn-sm badge badge-primary float-right" type="submit">
      Submit
    </button>
  </div>
<% end %>
