<div class="card card-body p-2">
  <div>
    <span class="card-title font-weight-light">New Category</span>
    <button type="button" class="close float-right close-form">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="<%= dynamic_id(name: 'form-new-render', klass: 'category', child_klass: nil) %>">
    <%= render 'categories/forms/form', category: Category.new, form_id: dynamic_id(name: 'form-new', klass: 'category', child_klass: nil) %>
  </div>
</div>
