<div class="p-2">
  <div>
    <span class="card-title font-weight-light"><small>New Category</small></span>
    <button type="button" class="close float-right close-form">
    </button>
  </div>
  <div id="category-new-form">
    <%= render 'categories/form', category: Category.new, form_id: "category-new-form-id" %>
  </div>
</div>
