<!-- <div class="collapse close-toggle-form" id="<%#= dynamic_id(name: 'form-new-target', klass: fieldable, child_klass: 'field_group') %>" data-parent=".<%#= dynamic_id(name: 'accordion', klass: fieldable, child_klass: 'field') %>"> -->
<div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: fieldable, child_klass: 'field_group') %>" data-parent="#accordion-menu">
  <div class="card card-body p-1 bg-light">
    <div>
      <span class="card-title">Edit Field</span>
      <button type="button" class="close float-right close-form">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="<%= dynamic_id(name: 'form-edit-render', klass: fieldable, child_klass: field_group.field) %>">
      <%= render "fields/form", fieldable: fieldable, field: field_group.field %>
    </div>
  </div>
</div>
