<div class="row align-items-center">
  <div class="col text-capitalize font-weight-bold text-white" id="<%= dynamic_id(name: 'display-header', klass: elementable, child_klass: 'elements') %>">
    <%= render "element_kinds/container/display", elementable: elementable %>
  </div>

  <div>
    <%= render "element_kinds/container/nav_menu", elementable: elementable %>
  </div>
</div>
