<div class="row align-items-center bg-light rounded">
  <div class="col-auto">
    <h5 class="mb-0">
      <a role="button" data-toggle="collapse" href="#category-fields-add-show" aria-expanded="true"></a>
    </h5>
  </div>

  <div class="col">
    <div id="category-display-body-update">
      <%= render "item_types/category/display", item_type: item_type %>
    </div>
  </div>
</div>
