<div class="row align-items-center bg-light rounded">
  <!-- =collapse -->
  <div class="col-auto">
    <h5 class="mb-0">
      <a role="button" data-toggle="collapse" href="#item_type-category-fields" aria-expanded="true"></a>
    </h5>
  </div>

  <!-- =form/add_category -->
  <div class="col">
    <div id="category-display-body-update">
      <%= render "item_types/category/display", item_type: item_type %>
    </div>
  </div>
</div>
