<div class="row align-items-center bg-dark rounded">
  <div class="col">
    <div id="item_type-display-body-update">
      <%= render "item_types/header/display", item_type: item_type %>
    </div>
  </div>

  <div class="col-auto">
    <div id="item_type-nav-menu-body-update">
      <%= render "item_types/header/nav_menu", item_type: item_type %>
    </div>
  </div>
</div>


<div class="collapse" id="item_type-edit-body-show" data-parent="#accordion-nav-menu-body">
  <!-- <li class="list-group-item bg-light p-0"> -->
    <%= render "item_types/forms/edit", item_type: item_type %>
  <!-- </li> -->
</div>
