<div class="row align-items-center justify-content-between bg-light">
  <div class="col-auto px-0 mr-0">
    <%= render "item_groups/item_values/sort_btn_group", origin: item_field, item_group: item_group, obj_ref: obj_ref %>
  </div>
  <div class="col-10 px-0 mx-0">
    <%= render "item_values/forms/form", item_value: item_value, url: item_field_item_value_path(item_field, item_value), obj_ref: obj_ref, form_id: dom_ref(obj_ref, 'name-edit-form') %>
  </div>

  <div class="col-1">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group align-items-center" role="group">
        <%= button_to item_value_item_group_path(item_value, item_group, obj_ref: obj_ref), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "btn btn-sm bg-transparent font-weight-light text-danger" do %>
          <span><%= (fa_icon "minus-square") %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
