<div class="input-group input-group-sm align-items-center bg-disabled">
  <button class="btn btn-sm rounded-circle bg-transparent toggle-input-access" type="button" id="<%= new_dom_ref(form_id, 'form', 'toggle-btn') %>"><%= (fa_icon "toggle-off") %></button>
  <%= f.text_field :name, placeholder: "enter element name", class: "form-control ml-2", disabled: true %>
  <button class="btn btn-sm bg-transparent rounded-circle text-primary" type="submit" disabled><%= (fa_icon "plus-circle") %></button>
</div>
