<div class="card card-body p-2 bg-light">
  <div>
    <span class="card-title font-weight-light">New Element</span>
    <button type="button" class="close float-right close-form">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="<%= dynamic_id(name: 'form-new-render', klass: element_kind, child_klass: 'element') %>">
    <%= render "elements/forms/form", element_kind: element_kind, element: Element.new, form_id: dynamic_id(name: 'form-new', klass: element_kind, child_klass: 'element')  %>
  </div>
</div>
