<% if product_part_fields = fields_any?(origin) %>
<h6 class="card-title py-0 my-0"><%= card_title(origin, 'field') %></h6>
  <% product_part_fields.each do |item_group| %>
    <%= render "item_fields/product_parts/show", origin: origin, item_field: item_group.target, item_group: item_group, obj_ref: dom_ref(origin, item_group.target, item_group) %>
  <% end %>
<% end %>
