<div id="<%= dom_ref(value, 'index-item') %>">
  <div class="card border border-dark">
    <div class="card-header pt-0 pb-3">
      <%= render "values/header/header", field_group: field_group, value: value %>
    </div>

    <div class="card-body collapse bg-light border border-dark m-2 pt-0" id="<%= dom_ref(field_group, value, 'edit-properties') %>">
      <%= render "values/forms/form", field: field_group.field, value: value, form_id: dom_ref(field_group, value, 'edit-properties-form-id') %>
    </div>
  </div>
</div>
