<div class="card mb-1 border border-dark" id="<%= dom_ref(value, 'show') %>">
  <div class="card-header pt-0 pb-3">
    <%= render "values/header/header", field: field, value: value %>
  </div>

  <div class="card-body collapse bg-light border border-dark m-2 pt-0" id="<%= dom_ref(value, 'properties-edit') %>">
    <%= render "values/forms/form", field: field, value: value, form_id: dom_ref(value, 'properties-edit-form-id') %>
  </div>
</div>
