<div class="card border-dark">
  <div class="card-header py-0">
    <%= render "values/header/header", field_group: field_group %>
  </div>

  <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: field_group, child_klass: 'value') %>" data-parent="#accordion-nav-menu">
    <%= render "values/forms/new", field_group: field_group %>
  </div>

  <div class="card-body py-3 px-1">
    <div class="col">
      <%= render "values/body/body", field_group: field_group, field: field %>
    </div>
  </div>
</div>
