<h1>Edit Values</h1>
<%= @value.properties %>
<%= render 'values/form', field: @value.field, value: @value %>

<%#= link_to 'Show', field_value_path(@value.field, @value) %> |
<%= link_to 'Back', field_path(@value.field) %>
