<h1>Create Value</h1>
<%= render 'values/form', field: @field, value: @value %>

<%= link_to 'Return to parent field', @field%>
<%#= link_to "Back", request.referer.present? ? request.referer : category_path %>
