<!-- <div class="form"> -->
<!-- <div class="form-row align-items-center"> -->
  <div class="input-group input-group-sm bg-disabled">
    <small class="text-muted form-text my-1 ml-4 pl-4">- no artist selected -</small>
  </div>
<!-- </div> -->
<!-- </div> -->
