<div class="card">
  <div class="card-header py-0">
    <%= render "categories/aside/header" %>
  </div>

  <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: 'category', child_klass: nil) %>">
    <%= render "categories/new", category: Category.new %>
  </div>
</div>

<div class="list-group" id="list-tab" role="tablist">
  <%= render "categories/aside/tabs", categories: categories %>
</div>
