<div class="card border-dark m-1">
  <div class="card-header">
    <%= format_option_group_name(option_group.first) %>
  </div>

  <div class="card-body p-1">
    <% option_group.each do |option| %>
      <div>
        <% option.elements.each do |opt| %>
          <div>
            <%= format_option_group_name(opt) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
