<% fieldable.field_groups.order(:sort).each do |field_group| %>
  <div class="card">
    <div class="card-body py-1">

      <div class="row align-items-center">

        <div class="col-1">
          <div class="align-self-end">
            <div class="btn-group-vertical">
              <div class="btn py-0" role="group">
                <%= render 'field_groups/sorter', fieldable: fieldable, field_group: field_group %>
              </div>
            </div>
          </div>
        </div>


        <div class="col-11" id="field-<%= field_group.field.id %>">
          <button class="btn btn-block field-toggle text-left" type="button" data-toggle="collapse" data-target="#category-btn-group" aria-expanded="false">
            <%= render 'fields/field_name', field: field_group.field %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
