<%= form_for [fieldable, FieldGroup.new] do |f| %>
  <div class="form">
    <div class="form-row align-items-center">
      <div class="form-group col">
        <%= f.collection_select :field_id, Field.all, :id, :name, {prompt: "- select field name -"}, class: "form-control", id: "inlineFormInput" %>
      </div>
      <button class="btn btn-md btn_width btn-outline-primary form-group float-right" type="submit" id="inlineFormInput">
        Submit
      </button>
    </div>
  </div>
<% end %>
