<div style="font-size: 0.5rem;"><%= link_to_if field_group.sort.present? && field_group.sort > 1, (fa_icon "chevron-up"), polymorphic_path([fieldable, field_group], action: 'sort_up', dom_ref: dom_ref(fieldable, 'field-index')), method: :post, remote: true %></div>
<div style="font-size: 0.5rem;"><%= link_to_unless field_group.sort.nil? || fieldable.sorted_field_groups.last == field_group, (fa_icon "chevron-down"), polymorphic_path([fieldable, field_group], action: 'sort_down', dom_ref: dom_ref(fieldable, 'field-index')), method: :post, remote: true %></div>
