<div><%= link_to_if field_group.sort.present? && field_group.sort > 1, "▲", polymorphic_path([fieldable, field_group], action: 'sort_up'), class: 'btn-sm', method: :post %></div>
<div><span class="badge badge-secondary"><%= field_group.sort %></span></div>
<div><%= link_to_unless field_group.sort.nil? || fieldable.sorted_field_groups.last == field_group, "▼", polymorphic_path([fieldable, field_group], action: 'sort_down'), class: 'btn-sm', method: :post %></div>
