<div class="dropdown float-right">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
  </button>
  <div class="dropdown-menu">
    <!-- <a class="dropdown-item" data-toggle="collapse" href="#field-<%#= field.id %>-edit">Edit Field</a>
    <a class="dropdown-item" data-toggle="collapse" href="#field-<%#= field.id %>-value-form">New Value</a> -->
    <%= link_to 'Delete Dimension', [category, sub_category],  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
  </div>
</div>
