<div class="row align-items-center">
  <div class="col-auto">
    <h5 class="mb-0">
      <a id="" role="button" data-toggle="collapse" href=".<%= dynamic_id(name: 'collection-target', klass: category, child_klass: kollection_name(categorizable)) %>" aria-expanded="true">
      </a>
    </h5>
  </div>

  <!-- =HEADER-NAME -->
  <div class="col">
    <span class="text-capitalize font-weight-bold text-white"><%= categorizable.pluralize %></span>
  </div>

  <!-- =FORM-TOGGLE-NAV -->
  <div>
    <%= render "sub_categories/sub_category/form_toggle", category: category, categorizable: categorizable %>
  </div>
</div>
