<a id="sub_category-toggle" role="button" data-toggle="collapse" href="#<%= dynamic_id(name: 'collection-target', klass: sub_category, child_klass: join_params([klass_name(sub_category.categorizable), 'field_groups'])) %>" aria-expanded="false">
</a>
