<div class="form-row">
  <small><%= field.name %></small>
  <%= ff.select field.name, options_for_select(field.values.pluck(:name), item_type.properties.try(:[], field.name)), {include_blank: true}, {class: "form-control form-control-sm", onchange: 'javascript: $( this ).trigger("submit.rails")'} %>
</div>
