<div class="collapse close-toggle-form" id="artist-new-aside-show" data-parent="#accordion-nav-menu-aside">
  <div class="card-body p-1">
  <%= render "artists/forms/new", artist: Artist.new %>
  </div>
</div>

<div class="collapse close-toggle-form" id="artist-edit-aside-show" data-parent="#accordion-nav-menu-aside">
  <div class="card-body p-1">
  <%= render "artists/forms/edit", artist: artist %>
  </div>
</div>
