<div class="card card-body p-2 bg-light">
  <div>
    <span class="card-title font-weight-light">Edit Artist</span>
    <button type="button" class="close float-right close-form">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="artist-edit-aside-update">
    <%#= render 'artists/forms/form', artist: artist, form_id: 'edit-artist' %>
  </div>
</div>
