<div style="font-size: 0.5rem;"><%= link_to_if element_join.sort.present? && element_join.sort > 1, (fa_icon "chevron-up"), polymorphic_path([poly_element, element_join], action: 'sort_up', dom_ref: dom_ref(poly_element, 'element_kind-index')), method: :post, remote: true %></div>
<div style="font-size: 0.5rem;"><%= link_to_unless element_join.sort.nil? || poly_element.sorted_element_joins.last == element_join, (fa_icon "chevron-down"), polymorphic_path([poly_element, element_join], action: 'sort_down', dom_ref: dom_ref(poly_element, 'element-index')), method: :post, remote: true %></div>
