<div class="row align-items-center">
  <div class="col mb-0" id="<%= dynamic_id(name: 'render-name', klass: field_group, child_klass: value) %>">
    <%= render "values/value/value_name", value: value %>
  </div>
  <div class="col-auto">
    <%= render "values/value/nav_menu", field_group: field_group, field: field, value: value %>
  </div>
</div>
