<div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: field_group, child_klass: 'value') %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: field_group, child_klass: 'value') %>">
  <div class="card card-body p-3 bg-light">
    <div>
      <span class="card-title font-weight-light">New Value</span>
      <button type="button" class="close float-right close-form">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="<%= dynamic_id(name: 'form-new-render', klass: field_group, child_klass: 'value') %>">
      <%= render "values/form", field: field_group.field, value: Value.new %>
    </div>
  </div>
</div>
