<div class="card border-dark">
  <!-- VALUE -->
  <div class="card-header py-0">
    <%= render "values/value/header", field_group: field_group %>
  </div>
  <!-- VALUE POP-UP FORM-->
  <div id="<%= dynamic_id(name: 'accordion', klass: field_group, child_klass: 'value') %>">
    <%= render "values/value/new", field_group: field_group %>
  </div>

  <div class="card-body py-3 px-1">
    <div class="col">
      <%= render "values/value/body", field_group: field_group, field: field %>
    </div>
  </div>
</div>
