<div><%= link_to_if field_group.sort.present? && field_group.sort > 1, (fa_icon "chevron-up", text: '', right: true), polymorphic_path([fieldable, field_group], action: 'sort_up'), class: 'btn-sm mb-0 pb-0', method: :post, remote: true %></div>
<div><%= link_to_unless field_group.sort.nil? || fieldable.sorted_field_groups.last == field_group, (fa_icon "chevron-down", text: '', right: true), polymorphic_path([fieldable, field_group], action: 'sort_down'), class: 'btn-sm mb-0 pb-0', method: :post, remote: true %></div>
