<div class="btn-group" role="group">
  <a class="btn btn-sm badge badge-light" data-toggle="collapse" href="#collapseFieldValues#{<%= field.id %>}" role="button" aria-expanded="false" aria-controls="collapseFieldValues#{<%= field.id %>}">
    Show field values
  </a>
  <a class="btn btn-sm badge badge-light" data-toggle="collapse" href="#collapseValueNewForm#{<%= field.id %>}" role="button" aria-expanded="false" aria-controls="collapseValueNewForm#{<%= field.id %>}">
    Create field value
  </a>
</div>
