<div id="valueForm">
  <div class="card mb-3">
    <div class="card-header pt-3 pb-0 bg-white">
      <table class="table">
        <thead>
          <th>
            <div>
              <%= render 'fields/values/table_head', field: field %>
            </div>
          </th>
        </thead>

        <tbody>
          <%= render 'fields/values/table_value', field: field %>
        </tbody>
      </table>
    </div>
  </div>
</div>
