<div class="row align-items-center">
  <div class="col-10">
    <div>
      <a class="btn btn-sm btn-outline-secondary btn-block" data-toggle="collapse" href="#collapseFieldValues<%= field.id %>" role="button" aria-expanded="false" aria-controls="collapseFieldValues<%= field.id %>">
        Fields Values
      </a>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-sm btn-primary btn-block float-right" data-toggle="collapse" data-target="#collapseValueNewForm<%= field.id %>" role="button" aria-expanded="false" aria-controls="collapseValueNewForm<%= field.id %>">
      New
    </button>
  </div>
</div>
