<% field.values.each do |value| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col mb-0">
          <%= render 'values/value_name', value: value %>
        </div>

        <div class="col-auto">
          <%= render "values/dropdown", field: field, value: value %>
        </div>

      </div>
    </div>
  </div>
<% end %>
