<hr>
<% field.values.each do |value| %>
  <div id="fieldValues">
    <div id="valueForm">
      <div class="card mb-3">
        <div class="card-header pt-0 pb-0 bg-white">
          <div class="row align-items-center">
            <div class="col">
              <span>value: <%= value.name %><span>
            </div>
            <div class="col float-right">
              <%= render 'fields/values/btn_group', field: value.field, value: value %>
            </div>
          </div>
        </div>
        <div id="collapseValueEditForm#{<%= value.id %>}" class="collapse" aria-labelledby="valueForm" data-parent="#fieldValues">
          <div class="card-body">
            <%= render "fields/values/form", field: value.field, value: value %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
