<div class="row align-items-center">
  <div class="col">
    <div id="<%= dynamic_id(name: 'header-render', klass: element_kind, child_klass: nil )%>">
      <%= render "elements/container/element_kind_name", element_kind: element_kind %>
    </div>
  </div>

  <div>
    <%= render "elements/container/nav_menu", element_kind: element_kind %>
  </div>
</div>
