<div class="row align-items-center">
  <div class="col">
    <span class="text-capitalize font-weight-light"><%= element_kind.name %> elements</span>
  </div>

  <div>
    <%= render "elements/container/nav_menu", element_kind: element_kind %>
  </div>
</div>
