<div class="btn-group float-right" role="group">
  <a class="btn btn-sm badge badge-primary mr-1" data-toggle="collapse" href="#category-edit" role="button" aria-expanded="false">
    Edit Category
  </a>
  <div class="btn btn-sm badge badge-danger mr-1">
    <%= link_to 'Delete Category', fieldable,  method: :delete, data: {confirm: "Are you sure?"}, class: "text-white" %>
  </div>
  <a class="btn btn-sm badge badge-primary mr-1" data-toggle="collapse" href="#field-new" role="button" aria-expanded="false">
    New field
  </a>
  <a class="btn btn-sm badge badge-primary mr-1" data-toggle="collapse" href="#field-add" role="button" aria-expanded="false">
    Existing field
  </a>
</div>
