<div class="collapse" id="multiCollapse1" data-parent="#top-menu">
  <div class="card card-body">
    <%= render 'categories/form', fieldable: fieldable %>
  </div>
</div>

<div class="collapse" id="multiCollapse2" data-parent="#top-menu">
  <div class="card card-body">
    <%= render 'fields/form', fieldable: fieldable, field: Field.new %>
  </div>
</div>

<div class="collapse" id="multiCollapse3" data-parent="#top-menu">
  <div class="card card-body">
    <%= render 'field_groups/form', fieldable: fieldable %>
  </div>
</div>
