<%= form_with model: element_kind, url: [elementable, element_kind], id: form_id do |f| %>
  <div class="form">
    <div class="form-row align-items-center">
      <%= render "element_kinds/forms/input_group", f: f, form_id: form_id %>
    </div>
  </div>
<% end %>
