<div class="card bg-light mb-3 p-2" id="item_value-new">
  <%= render "item_values/forms/new", item_value: ItemValue.new, url: ItemValue.new, form_id: "item_value-new-form" %>
</div>
<%#= render "product_kinds/import", url: import_item_values_path %>

<div class="card bg-light mb-0 p-2">
  <%= render "search_values/form" %>
</div>

<div class="list-group" id='<%= "tab-index" %>' role="tablist">
  <%= render "item_values/tabs", item_values: item_values %>
</div>
