<div class="card border m-1 border-dark" id="<%= dom_ref(item_value, 'show') %>">
  <div class="card-header">
    <%= render "item_values/header", item_value: item_value, obj_ref: dom_ref(item_value) %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(item_value, 'body') %>">
    <%= render "item_values/forms/properties_form", item_value: item_value, url: item_value_path(item_value), form_id: dom_ref(item_value, "properties-edit-form") %>
  </div>
</div>
