<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref('item_value', item_value.id, 'tab-item') %>" href="<%= item_value_path(item_value) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col-3 item-type">
      <%= item_value.type %>
    </div>
    <div class="col item-name">
      <%= item_value.name %>
    </div>
  </div>
</a>
