<div class="row justify-content-center">
  <h1>Item-Values</h1>
  <p id="notice"><%= notice %></p>
</div>
<hr>

<div class="row">
  <div class="col-5">
    <%= render 'item_values/aside', item_values: @item_values %>
  </div>

  <div class="col-7">
    <div id="item_value">
    </div>
  </div>
</div>
