<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary new-add-field-toggle" type="button" id="category-field-forms-toggle">add</button>
  </div>
  <%= f.collection_select :field_id, Field.all, :id, :name, {prompt: "- select field name -"}, {class: "form-control border-secondary"} %>
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="submit">Submit</button>
  </div>
</div>
