<div class="dropdown-menu">
  <a class="dropdown-item disabled" data-toggle="collapse" href='#<%= dom_ref(item_field, "edit") %>'>Edit <%= obj_to_cap_hyph_str(item_field) %></a>
  <!-- <%# item_field_assocs(item_field).each do |target| %>
    <a class="dropdown-item" data-toggle="collapse" href='#<%#= dom_ref(item_field, "#{target}-item_group-add") %>'>Add <%#= obj_to_cap_hyph_str(target) %></a>
  <%# end %> -->
</div>
