<%= form_with model: item_group, url: polymorphic_url([origin, item_group]), id: form_id do |f| %> 
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center">
      <%= render "item_groups/forms/input_group", f: f, origin: origin, form_id: form_id %>
    </div>
  </div>
<% end %>
