<%= form_with model: ItemGroup.new, url: url, id: form_id do |f| %>
  <div class="form">
    <label class="fs-xs py-0 my-0">Add <%= "#{to_txt(target, j: ' ')}" %></label>
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center">
      <%= render "item_groups/forms/input_group", f: f, origin: origin, target: target, form_id: form_id %>
    </div>
  </div>
<% end %>
