<div class="text-capitalize text-white font-weight-bold pl-3">
  <% if category.present? %>
      <%= category.name %>
    <% else %>
      <span class="text-muted">No medium selected</span>
  <% end %>
</div>
