<div class="row align-items-center bg-dark">
  <div class="col">
    <div id="category-display">
      <%= render "categories/category/display", category: category %>
    </div>
  </div>

  <div class="col-auto">
    <div class="row align-items-center">
      <%= render "categories/category/btn_group", category: category %>
    </div>
  </div>
</div>
