<div class="row align-items-center">
  <div class="col-auto">
    <h5 class="mb-0">
      <%= render "categories/category/collapse", category: category %>
    </h5>
  </div>

  <div class="col">
    <div id="render-name">
      <%= render "categories/category/category_name", category: category %>
    </div>
  </div>

  <div class="col-auto">
    <%= render "categories/category/nav_menu", category: category %>
  </div>
</div>
