<div id="<%= dom_ref(fieldable, field_group.field, 'edit-form') %>">
  <%= render "fields/form", fieldable: fieldable, field: field_group.field, form_id: dom_ref(fieldable, field_group.field, 'edit-form-id') %>
</div>
