<!-- <div class="card mb-2 border">
  <div class="card-body bg-light py-1">  px-4 -->
    <div class="collapse show" id="category-field-new">
      <%= render "fields/forms/new", fieldable: fieldable %>
    </div>

    <div class="collapse" id="category-field_group-add">
      <%= render "field_groups/forms/add", fieldable: fieldable %>
    </div>
  <!-- </div>
</div> -->
