<div class="card card-body p-2 bg-light">
  <div>
    <span class="card-title font-weight-light"><small>New Field</small></span>
    <button class="close float-right pr-4" type="button" data-toggle="collapse" data-target="#category-field-new" aria-expanded="false">
      <span aria-hidden="true"><small>&times;</small></span>
    </button>
  </div>
  <div id="category-field-new-form">
    <%= render "fields/form", fieldable: fieldable, field: Field.new, form_id: 'category-field-new-form-id' %>
  </div>
</div>
