  <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: field_group, child_klass: 'value') %>" data-parent="#">
    <div class="card card-body p-1 bg-light">
      <div>
        <span class="card-title">New Value!</span>
        <button type="button" class="close float-right close-form">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="<%= dynamic_id(name: 'form-new-render', klass: field_group, child_klass: 'value') %>">
        <%= render "values/form", field: field_group.field, value: Value.new %>
      </div>
    </div>
  </div>
