<div class="col">
  <%= f.text_field :name, placeholder: "enter value name", class: "form-control form-control-sm", readonly: false %>
</div>

<button class="btn btn-sm badge badge-primary float-right" type="submit">
  Submit
</button>
