<%= form_tag url, multipart: true do %>
  <div class="form-inline">
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
    <%= link_to 'CSV', product_parts_path(format: 'csv'), class: 'btn btn-sm badge badge-primary' %>
  </div>
<% end %>
