<div class="row justify-content-center">
  <h1>Product-Kinds:</h1>
</div>
<hr>

<div class="row">
  <div class="col-4">
    <%= render 'product_kinds/aside', origins: @product_kinds %>
  </div>

  <div class="col-8">
    <div id="product_kind">
    </div>
  </div>
</div>
