<div class="dropdown-menu">
  <a class="dropdown-item disabled" data-toggle="collapse" href="#category-edit">Edit Category</a>
  <!-- <a class="dropdown-item" data-toggle="collapse" href="#<%#= dom_ref(category, 'element_kind-new') %>">New Element Kind</a> -->
  <a class="dropdown-item" data-toggle="collapse" href="#<%= dom_ref(category, 'element_group-add') %>">Add Element Kind</a>
  <a class="dropdown-item" data-toggle="collapse" href="#<%= dom_ref(category, 'element_join-add') %>">Add Element</a>
</div>
