<div class="dropdown">
  <button id="category-field-toggle" type="button" class="btn btn-dark border-left font-weight-light text-center dropdown-toggle disabled" style="width: 100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <small>Field</small>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" data-toggle="collapse" href="#category-field-new">New Field</a>
    <a class="dropdown-item" data-toggle="collapse" href="#category-field_group-add">Add Field</a>
  </div>
</div>
