<div class="row align-items-center bg-dark">
  <div class="col">
    <div id="category-display">
      <%= render "categories/header/display", category: category %>
    </div>
  </div>

  <div class="col-auto">
    <div class="row align-items-center">
      <%= render "categories/header/category_menu", category: category %>
      <%= render "categories/header/field_menu" %>
    </div>
  </div>
</div>
