<div class="col-auto properties-col">
  <div class="form-check form-check-inline pr-0 mr-0">
    <%= ff.radio_button k, param_set[0], class: 'form-check-input item-value-properties' %>
    <%= ff.label param_set[-1], class: 'form-check-label' %>
  </div>
</div>
