<%= hidden_field_tag :form_id, form_id %>
<%= hidden_field_tag :type, abbrv_type(item_value.type) %>
<%= hidden_field_tag :name, item_value.name %>
<div class="collapse">
  <%= f.text_field :type, class: "type-field" %>
</div>
