<div class="row align-items-center">
  <div class="col">
    <span class="text-capitalize font-weight-bold text-white">Element Types</span>
  </div>

  <div>
    <%= render "element_kinds/container/nav_menu", elemental: elemental %>
  </div>
</div>
