<!-- <div><%#= link_to_if sub_category.sort > 1, "▲", sort_up_category_sub_category_path(category, sub_category), class: 'button', method: :post %></div>
<div><strong><%#= sub_category.sort %></strong></div>
<div><%#= link_to_unless category.sorted_sub_categories.last == sub_category, "▼", sort_down_category_sub_category_path(category, sub_category), class: 'button', method: :post %></div> -->
<div><%= link_to_if sub_category.sort.present? && sub_category.sort > 1, "▲", polymorphic_path([fieldable, sub_category], action: 'sort_up'), class: 'btn-sm', method: :post %></div>
<div><span><%= sub_category.sort %></span></div>
<div><%= link_to_unless sub_category.sort.nil? || fieldable.sorted_sub_categories.last == sub_category, "▼", polymorphic_path([fieldable, sub_category], action: 'sort_down'), class: 'btn-sm', method: :post %></div>
