<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref(product_part, 'tab-item') %>" href="<%= product_part_path(product_part) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col item-name">
      <%= product_part.name %>
    </div>
  </div>
</a>
