<%= form_with model: Element.new, url: product_elements_path, method: :get, id: 'search-form' do |f| %>
  <div class="form" data-search="0">
    <div class="form-row align-items-center">
      <div class="input-group align-items-center rounded-border bg-white">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent rounded-left-border border-0">
            <span><%= (fa_icon "search") %></span>
          </div>
        </div>
        <%= select_tag "product_element[search]", options_for_select(Product.search_dropdown), {class: "form-control border-0 search-select"} %>
        <div class="input-group-append">
          <div class="input-group-text bg-transparent border-top-0 border-right-0 border-bottom-0">
            <span> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
