<div class="btn-group" role="group">
  <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#collapseValueNewForm#{<%= field.id %>}" role="button" aria-expanded="false" aria-controls="collapseValueNewForm#{<%= field.id %>}">
    New
  </button>
  <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#collapseValueEditForm#{<%= value.id %>}" role="button" aria-expanded="false" aria-controls="collapseValueEditForm#{<%= value.id %>}">
    Edit
  </button>
</div>
