<% categories.each do |category| %>
  <div class="row">
    <div class="col-3">
      <div class="list-group" id="category-tab" role="tablist">
        <%= render 'categories/side_navs/nav_tabs', category: category %>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="nav-tabContent">
        <%= render 'categories/side_navs/tab_content', category: category %>
      </div>
    </div>
  </div>
<% end %>
