<div class="input-group input-group-sm align-items-center bg-disabled">
  <%= f.text_field :name, placeholder: "enter element-kind name", class: "form-control", disabled: true %>
  <%= f.text_field :kind, placeholder: "enter element-kind type", class: "form-control ml-2", disabled: true %>
  <button class="btn btn-sm bg-transparent rounded-circle text-primary" type="submit" disabled><%= (fa_icon "plus-circle") %></button>
</div>
