<div class="dropdown-menu">
  <a class="dropdown-item disabled" data-toggle="collapse" href="#<%= dom_ref(element, 'edit') %>">Edit Element</a>
  <a class="dropdown-item" data-toggle="collapse" href="#<%= dom_ref(element, 'field-new') %>">New Field</a>
  <a class="dropdown-item" data-toggle="collapse" href="#<%= dom_ref(element, 'field_group-add') %>">Add Field</a>
</div>
