/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";
 @import "font-awesome";

 .hidden {
   display: none;
 }

 .btn_width {
    width: 45px;
}

body {
  padding-top: 65px;
}

summary {
  outline: none !important;
}

.mb-0 > a:after {
  content: "\f0da";
  font-family: 'FontAwesome';
}

.mb-0 > a[aria-expanded="true"]:after {
  content: "\f0d7";
}

#nav-bar {
  background-color: #2A1121;
}

.obj-header {
  background-color: #1F3944;
}

.card-body {
  background-color: white;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-rounded {
  border-radius: 1rem !important;
}

input{
  border: none !important;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fa-toggle-on, .fa-toggle-off{
  //color: gray;
  //margin: 0;
  //background-color: transparent;
}

.input-group {
  border: 1px gray solid;
  border-radius: 1rem;
  //background: #e9ecef !important;
  //opacity: 1 !important;
  // padding: 10px;
}

.bg-disabled {
  background: #e9ecef !important;
}

//might be irrelevant
.nested-btn {
  //background-color: red !important;
  padding: 1px !important;
  //height: 20px !important;
}

.caret-toggle {
  width: 12px;
}
