/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";
 @import "font-awesome";

 .hidden {
   display: none;
 }

 .btn_width {
    width: 45px;
}

.flash_pad {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

body {
  padding-top: 65px;
}

summary {
  outline: none !important;
}

.mb-0 > a:after {
  content: "\f0da";
  font-family: 'FontAwesome';
  //outline: none !important;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f0d7";
  //outline: none !important;
}
