<div class="card bg-light mb-3 p-2" id="category-new">
  <%= render "categories/forms/new", category: Category.new, form_id: "category-new-form-id" %>
</div>

<div class="card align-items-center bg-light m-0 p-0">
  <div class="card-body bg-light m-0 p-1">
    <span>Categories</span>
  </div>
</div>

<div class="list-group" id="category-tab-index" role="tablist">
  <%= render "categories/tabs", categories: categories %>
</div>
