<div class="card card-body p-3">
  <%= render "fields/field", fieldable: category %>
</div>

<div class="card card-body p-3">
  <span class="collapse dynamic-id"><%= dynamic_id(name: 'collection', klass: category, child_klass: 'element_kind') %></span>
  <%= render "element_kinds/container/container", elementable: category %>
</div>
