<div class="btn-group" role="group">
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1">
    Edit: <%= fieldable.name %>
  </a>
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#multiCollapse2" role="button" aria-expanded="false" aria-controls="multiCollapse2">
    Create new field
  </a>
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#multiCollapse3" role="button" aria-expanded="false" aria-controls="multiCollapse3">
    Add existing field
  </a>
</div>
