<div id="category-form-group">
  <div id="category-btn">
    <%= render "categories/category_btn", category: category %>
  </div>
  <div class="collapse" id="category-btn-group">
    <div class="row">
      <div class="col">
        <%= render "categories/toggle_forms/btn_group", fieldable: category %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= render "categories/toggle_forms/multi_form", fieldable: category %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="category-field_groups">
        <%= render "field_groups/field_group", fieldable: category %>
      </div>
    </div>
  </div>
</div>
