<%= form_for fieldable do |f| %>
  <div class="form">
    <div class="input-group mb-3">
      <div class="input-group-prepend form-control" id="button-addon3">
        <%= f.text_field :name, placeholder: "enter #{fieldable.class.name.downcase} name", class: "form-control", aria_describedby: "button-addon3" %>
        <button class="btn btn-outline-primary" type="submit" aria-describedby="button-addon3">
          Submit
        </button>
        <% if fieldable.id %>
          <%= link_to 'Delete', fieldable,  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "float-right btn btn-outline-danger", aria_describedby: "button-addon3" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
