<div class="card border">
  <div class="card-header pt-0">
    <%= render "categories/header/header", category: category %>
  </div>

  <div class="card-body p-1 collapse border" id="category-body">
    <div id="<%= dom_ref(category, 'element_kind-index') %>">
      <%= render "element_kinds/index", elementable: category %>
    </div>
  </div>
</div>
