<div class="card border mb-2">
  <div class="card-header py-2 px-3">
    <%= render "categories/header/header", category: category %>
  </div>

  <div class="collapse" id="category-field-forms" data-parent="#accordion-nav-menu-body">
    <div class="card card-body p-2 m-2 bg-light">
      <div class="row align-items-center">

        <div class="col-10 offset-1">
          <div class="collapse show" id="category-field-new">
            <%= render "fields/forms/new", fieldable: category %>
          </div>

          <div class="collapse" id="category-field_group-add">
            <%= render "field_groups/forms/add", fieldable: category %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "fields/index", fieldable: category %>
  <%#= render "element_kinds/container/container", elementable: category %>
</div>
