<div class="card">
  <div class="card-header pt-0 pb-3 border border-dark">
    <%= render "categories/header/header", category: category %>
  </div>

  <div class="card-body collapse" id="category-body">
    <%= render "fields/index", fieldable: category %>
    <%#= render "element_kinds/container/container", elementable: category %>
  </div>
</div>
