<% categories.each do |category| %>
  <a class="list-group-item list-group-item-action py-1" id="list-<%= category.id %>-list" href="<%= category_path(category) %>" data-remote="true" data-toggle="list">
    <%= category.name %>
  </a>
<% end %>
