<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref(category, 'tab-item') %>" href="<%= category_path(category) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col item-name">
      <%= category.name %>
    </div>
  </div>
</a>
