<button class="btn bg-secondary" id="category-toggle" style= "width:40px;" type="button" data-toggle="collapse" data-target="#category-btn-group" aria-expanded="false">
  <i id="toggleIcon" class="fa fa-angle-double-left"></i>
</button>
