<div class="row justify-content-center">
  <h1>Art-Categories</h1>
</div>
<hr>

<div class="row">
  <!-- categories/category/aside -->
  <%#= render 'categories/side_navs/aside', categories: @categories %>
  <%= render 'categories/category/aside', categories: @categories %>
</div>
