<div class="row justify-content-center">
  <h1>Artwork Mediums</h1>
</div>
<hr>

<div class="row">
  <div class="col-4">
  <%= render 'categories/aside/aside', categories: @categories %>
  </div>

  <div class="col-8">
    <div id="category-show">
      <%= render "categories/category", category: @category %>
    </div>
  </div>
</div>
