<div id="top-menu">
  <p>
    <%#= render "categories/btn_group", fieldable: @category %>
  </p>
  <p>
    <%#= render "categories/multi_form", fieldable: @category %>
  </p>
</div>

<hr>
<%= render 'field_groups/field_group', fieldable: @category %>

<h4>Add Dimension Types for: <%= @category.name %></h4>
<div>
  <%= render 'sub_categories/sub_category_form', category: @category  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Dimension type name</th>
  </thead>
  <tbody>
    <%= render 'sub_categories/sub_category', fieldable: @category %>
  </tbody>
</table>
