<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref('item_field', item_field.id, 'tab-item') %>" href="<%= item_field_path(item_field) %>" data-remote="true" data-toggle="list">
  <div class="row">
    <div class="col-4">
      <%= item_field.type %>
    </div>
    <div class="col">
      <%= item_field.field_name %>
    </div>
  </div>
</a>
