<div class="row align-items-center">
  <div class="col font-weight-light" id="<%= dynamic_id(name: 'display-header', klass: field_group, child_klass: 'values') %>">
    <%= render "values/container/display", field: field_group.field %>
  </div>

  <ul class="nav">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown font-weight-light text-muted px-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "bars") %></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: field_group, child_klass: 'value') %>">New Value</a>
      </div>
    </li>
  </ul>
</div>
