<ul class="nav">
  <li class="nav-item-dropdown">
    <a class="nav-link dropdown btn btn-sm bg-transparent text-info px-2 py-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><%= (fa_icon "ellipsis-h") %></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href='#<%= dom_ref(product_part, "#{to_snake(product_part.sti_field_type)}-item_group-add") %>'>Add field</a>
      <div class="dropdown-divider"></div>
      <% self_join_assocs(product_part, :product_kind).each do |target| %>
        <a class="dropdown-item" data-toggle="collapse" href='#<%= dom_ref(product_part, "#{target}-item_group-add") %>'>Add <%= to_txt(target) %></a>
      <% end %>
    </div>
  </li>
</ul>
