<%# <div class="col collapse" id='<%= dom_ref(product_part, "#{to_snake(product_part.sti_field_type)}-item_group-add") %>' data-parent="#<%#= dom_ref(product_part, 'accordion') %>">
  <%#= render 'item_groups/forms/form', origin: product_part, target: to_snake(product_part.sti_field_type), url: product_part_item_groups_path(product_part, ItemGroup.new), form_id: dom_ref(product_part, "#{to_snake(product_part.sti_field_type)}-item_group-add-form-id") %>
<!-- </div> %> -->
<% self_join_assocs(product_part, :product_kind).unshift(to_snake(product_part.sti_field_type)).each do |target| %>
  <div class="col collapse" id='<%= dom_ref(product_part, "#{target}-item_group-add") %>' data-parent="#<%= dom_ref(product_part, 'accordion') %>">
    <%= render 'item_groups/forms/form', origin: product_part, target: target, url: product_part_item_groups_path(product_part, ItemGroup.new), form_id: dom_ref(product_part, "#{target}-item_group-add-form-id") %>
  </div>
<% end %>
