<div class="input-group dropdown-btn">
  <div class="input-group-prepend">
    <label class="input-group-text type-label input-border bg-secondary font-weight-light text-white small">STI type</label>
    <button class="btn btn-sm btn-secondary text-sm font-weight-light input-border reset-btn" type="button"><%= (fa_icon "repeat") %></button>
    <button class="btn btn-sm btn-secondary dropdown-toggle type-btn input-border" type="button" data-toggle="dropdown" aria-expanded="false"></button>
    <div class="dropdown-menu">
      <a class="dropdown-item select-opt active" href="#" data-name="STI type" data-value="">-choose type-</a>
      <% sti_abbrv_vl(:product_part).each do |opt| %>
        <a class="dropdown-item select-opt" href="#" data-name="<%= opt[0] %>" data-value="<%= opt[-1] %>"><%= opt[0] %></a>
      <% end %>
    </div>
  </div>
</div>
