<div class="row align-items-center">
  <div class="col font-weight-light <%= dyno_id(n1: 'display', k1: field_group, k2: value) %>">
    <%= render "values/header/display", value: value %>
  </div>
  <div class="col-auto">
    <div class="row align-items-center">
      <%= render "values/header/value_menu", field_group: field_group, value: value %>
    </div>
  </div>
</div>
