<div class="col">
  <% if artist.present? %>
    <span class="font-weight-light">Item-Types</span>  
  <% else %>
    <span class="font-italic font-weight-light">- No item-types created -</span>
  <% end %>
</div>
