<div class="col font-weight-light">
  <% if artist.present? && artist.item_types.count > 0 %>
    Item-Types
  <% else %>
    <span class="font-italic font-weight-light">- No item-types -</span>
  <% end %>
</div>
