<ul class="nav">
  <li class="nav-item-dropdown">
    <a class="nav-link dropdown font-weight-light text-muted py-0 px-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "bars") %></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: 'artist', child_klass: 'item_type') %>">New Item Type</a>
    </div>
  </li>
</ul>
