<div class="card border m-1 border-dark" id="<%= dom_ref(product, 'show') %>">
  <div class="card-header">
    <%#= render "products/header", product: product %>
    <%= product.name %>
  </div>

  <div class="card-body p-1" id="<%= dom_ref(product, 'body') %>">
    <%# <% self_join_assocs(product).each do |type| %>
      <div id='<%#= dom_ref(product, "product_part-index") %>'>
        <%#= render "product_parts/products/index", product: product, type: type %>
      </div>
    <%# end %>
  </div>
</div>
