<div class="row justify-content-center">
  <h1>Products</h1>
</div>
<hr>

<div class="row">
  <div class="col-4">
    <%= render 'products/aside', products: @products %>
  </div>

  <div class="col-8">
    <div id="product">
    </div>
  </div>
</div>
