<div class="row justify-content-center">
  <h1>Products</h1>
</div>
<hr>

<div class="row">
  <div class="col-5">
    <%= render 'products/aside', products: @products %>
  </div>

  <div class="col-7">
    <div id="show-card">
    </div>
  </div>
</div>
