<div id="field-form-group">
  <div id="field-btn-block">
    <%= render "fields/field_btn_block", field: field %>
  </div>
  <div class="collapse" id="field-<%= field.id %>-btn-group" data-parent="#category-field_groups">
    <div class="row">
      <div class="col">
        <%= render "fields/toggle_forms/btn_group", fieldable: field.field_groups.first.fieldable, field: field %>
      </div>
    </div>
  </div>
</div>
