<%= form_with model: field, url: [fieldable, field], id: form_id([fieldable, field]) do |f| %>
  <div class="form">
    <div class="form-row">
      <div class="col-6">
        <%= f.select :field_type, options_for_select(%w[text_field check_box number_field text_area]), {prompt: "- select field type -"}, class: "form-control" %>
      </div>
      <div class="col-6">
        <%= f.text_field :name, placeholder: "enter field name", class: "form-control" %>
      </div>
    </div>
    <button class="btn btn-sm badge badge-primary float-right" type="submit">
      Submit
    </button>
  </div>
<% end %>
