<h1>Edit Field Names</h1>

<%= render 'fields/form', field: @field %>
<br>
<p><%= @field.categories.count %></p>
<%#= link_to 'Show', polymorphic_path([request.referer, @field]) %> |
<%= link_to "Back", request.referer.present? ? request.referer : fields_path %>
