<%= form_for supplier do |f| %>
  <div class="form">
    <div class="form-row align-items-center">
      <div class="form-group col-auto">
        <%= f.text_field :name, placeholder: "enter supplier's name", class: "form-control", id: "inlineFormInput" %>
      </div>
      <button class="btn btn-sm btn_width btn-outline-primary form-group float-right" id="inlineFormInput" type="submit">
        Submit
      </button>
      <% if supplier.id %>
        <%= button_to 'Delete', supplier,  method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn_width btn-outline-danger form-group float-right", id: "inlineFormInput" %>
      <% end %>
    </div>
  </div>
<% end %>
