<tr>
  <td>
    <div class="row align-items-center">
      <div class="col">
        <a href="<%= supplier_path(supplier) %>" class="btn btn-link" type="button">
          <%= supplier.name %>
        </a>
      </div>
      <div class="col">
        <%= render 'suppliers/btn_group', supplier: supplier %>
      </div>
    </div>

    <div class="row">
      <%= render 'suppliers/multi_form', supplier: supplier %>
    </div>
  </td>
</tr>
