<h1>Supplier List</h1><br>

<div>
  <%= render 'suppliers/form', supplier: Supplier.new %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Supplier Name</th>
  </thead>
  <tbody>
    <%= render @suppliers %>
  </tbody>
</table>
