<h1>Supplier List</h1>
<br>
<div>
  add new supplier
  <%= render 'suppliers/form', supplier: Supplier.new %>
</div>
<table class="table table-hover">
  <thead>
    <th>

    </th>
  </thead>
  <tbody>
    <%= render @suppliers %>
  </tbody>
</table>
