<h1>Supplier: <%= @supplier.name %></h1><br>

<div>
  <%= render 'invoices/form', supplier: @supplier, invoice: Invoice.new %>
</div>

<table class="table table-hover">
  <thead>
    <th>Invoice</th>
  </thead>

  <tbody>
    <%= render @supplier.invoices.order(:name) %>
  </tbody>
</table>
