<div class="input-group input-group-sm align-items-center bg-disabled">
  <button class="btn btn-sm rounded-circle bg-transparent toggle-input-access" type="button" id=""><%= (fa_icon "toggle-off") %></button>
  <%= f.text_field :name, placeholder: 'enter field name', class: "form-control", disabled: true %>
  <button class="btn btn-sm bg-transparent rounded-circle text-primary submit-btn" type="submit" disabled><%= (fa_icon "plus-circle") %></button>
</div>
