<div class="card-body p-3 bg-light">
  <div id="<%= dyno_id(n1: 'field_group', k1: field_group, n2: 'value-properties', k2: value, tag: 'edit-form') %>">
    <%= render "values/forms/form", field: field_group.field, value: value, form_id: dyno_id(n1: 'field_group', k1: field_group, n2: 'value-properties', k2: value, tag: 'edit-form-id') %>
  </div>
</div>
