<div class="card-body m-1 border border-dark bg-light">
  <div id="<%= dom_ref(value, 'properties-edit-form') %>">
    <%= render "values/forms/form", field: field_group.field, value: value, form_id: dom_ref(value, 'properties-edit-form-id') %>
  </div>
</div>
