<%# unless (parent == @search && item_field.item_field_name == "outer_width") || (parent == @search && item_field.item_field_name == "outer_height") || dim_item_field_name(parent) == "weight" || parent == @reserve_type %>
  <!-- <div class="col-md-2">
    <%#= f.label item_field.item_field_name %><br/>
    <%#= f.number_item_field item_field.item_field_name, :step => 0.5 %>
  </div> -->
<%# end %>
