<div class="card border m-1 border-dark" id="<%= dom_ref(element_kind, 'show') %>">
  <div class="card-header border pt-0">
    <%= render "element_kinds/header/header", element_kind: element_kind %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(element_kind, 'body') %>">
    <!-- <div id="<%#= dom_ref(element_kind, 'field-index') %>">
      <%#= render "elements/index", element_kind: element_kind %>
    </div> -->
  </div>
</div>
