<a class="list-group-item list-group-item-action py-1" id="<%= dom_ref(element_kind, 'tab-item') %>" href="<%= element_kind_path(element_kind) %>" data-remote="true" data-toggle="list">
  <%= element_kind.name %>
</a>
