<h1>Dimension#Edit: <%#= @dimension.name %></h1>
<p><%= link_to "dimension list", dimensions_path %> | <%= link_to "Show", dimension_path(@dimension) %></p>

<%= render 'categories/form', fieldable: @dimension %>
