<div class="form-row">
  <div class="form-group col">
    <div class="input-group mb-0 pb-0">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= field_build[0] %></span>
      </div>
      <%= ff.text_field field_build[0], placeholder: "enter tagline value", class: "form-control" %>
    </div>
  </div>
</div>
