<%= form_with model: origin, url: origin, id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center">
      <%= render "product_kinds/forms/input_group", f: f, form_id: form_id %>
    </div>
  </div>
<% end %>
