<%= form_with model: item_field, url: url, id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center">
      <%= render "item_fields/forms/input_group", f: f, item_field: item_field, form_id: form_id %>
    </div>
  </div>
<% end %>
