<div class="dropdown-menu">
  <a class="dropdown-item disabled" data-toggle="collapse" href="#<%= dom_ref(field, 'edit') %>">Edit Field</a>
  <!-- <a class="dropdown-item" data-toggle="collapse" href="#<%#= dom_ref(field_group, 'value-new') %>">New Value</a> -->
</div>
