<div class="row align-items-center bg-light">
  <%= render 'field_groups/sort_btn_group', fieldable: fieldable, field_group: field_group %>

  <div class="col-auto">
    <h5 class="mb-0">
      <%= render 'fields/header/collapse', field_group: field_group %>
    </h5>
  </div>

  <div class="col">
    <div class="card border border-danger bg-light">
      <div class="card-body py-0">
        <%= render "fields/forms/edit", fieldable: fieldable, field_group: field_group  %>
    </div>
  </div>
</div>
