<div class="row align-items-center">
  <div class="col">
    <span class="text-capitalize font-weight-light"><%= klass_name(fieldable) %> fields</span>
  </div>

  <div>
    <%= render "fields/header/nav_menu", fieldable: fieldable %>
  </div>
</div>
