<div class="row align-items-center">
  <div class="col text-capitalize font-weight-light" id="<%= dynamic_id(name: 'display-header', klass: @category, child_klass: 'fields') %>">
    <%= render "fields/header/display", fieldable: fieldable %>
  </div>

  <div>
    <%= render "fields/header/nav_menu", fieldable: fieldable %>
  </div>
</div>
