<div class="dropdown">
  <button id="" type="button" class="btn btn-light border-left font-weight-light dropdown-toggle" style="width: 100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <small>Value</small>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" data-toggle="collapse" href="#<%= dyno_id(n1: 'field_group', k1: field_group, n2: 'value', tag: 'new') %>">New Value</a>
  </div>
</div>
