<div id="item_type-tabs-header-update">
  <%= render "artists/tabs/header", artist: artist %>
</div>

<div class="collapse close-toggle-form" id="item_type-new-tabs-show" data-parent="#accordion-nav-menu-aside">
  <%#= render "item_types/forms/new", artist: artist, item_type: ItemType.new %>
  <%= render "item_types/forms/new" %>
</div>

<div class="list-group" role="tablist">
  <div class="card-body">
    <div id="item_type-tab-list-update">
      <%#= render "artists/aside/tabs", artist: artist %>
    </div>
  </div>
</div>
