<div class="col text-white">
  <% if artist.present? %>
    <div>
      <span><%= artist.display_name %></span>
    </div>
  <% else %>
    <div class="font-weight-light">
      select artist
    </div>
  <% end %>
</div>
