<div class="dropdown">
  <button class="btn btn-transparent rounded-0 dropdown-toggle text-secondary py-0 bg-dark" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </button>

  <div class="dropdown-menu" id="<%= dynamic_id(name: 'dropdown', klass: 'artist', child_klass: nil) %>">
    <%= render "artists/aside/dropdown_items", artists: artists %>
  </div>
</div>
