<a class="dropdown-item" id="" href="<%= artists_path %>" data-remote="true">- select artist -</a>
<% artists.ordered_artists.each do |artist| %>
  <a class="dropdown-item" id="<%= dynamic_id(name: 'dropdown-item', klass: artist, child_klass: nil) %>" href="<%= artist_path(artist) %>" data-remote="true"><%= artist.last_first %></a>
<% end %>
