<div class="card-header py-0">
  <div class="row align-items-center">
    <div class="col">
      <div id="name-render">
        <%= render "artists/aside/display", artist: artist %>
      </div>
    </div>

    <div class="col-auto">
      <div id="<%= dynamic_id(name: 'nav-menu', klass: 'artist', child_klass: nil) %>">
        <%= render "artists/aside/nav_menu", artist: artist %>
      </div>
    </div>
  </div>
</div>
