<% if artist.present? %>
  <% artist.item_types.each do |item_type| %>
    <div id="item_type-tab-list">
      <%= render "item_types/tab", artist: artist, item_type: item_type %>
    </div>
  <% end %>
<% end %>
